* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    margin-left: 1.5%;
    height: 40px;
    background-color: rgb(67, 67, 109);
}

.logflex {
display: flex;
justify-content: end;
width: 50%;
}

.titelflex {
width: 50%;
}

.loggain {
color: whitesmoke;
margin-right: 5%;
}

.skapakonto {
color: whitesmoke;
margin-right: 5%;
}

.titel {
margin-left: 10%;
font-size: 20px;
color: white;
text-decoration: none;
}

.fa-solid {
    font-size: 20px;
    color: rgb(240, 239, 239);
    margin-right: 5%;
}

.kontoflex {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    height: 500px;
    background-color: rgb(232, 231, 231);
    border-style: solid;
    border-color: rgb(168, 167, 167);
    border-radius: 4%;
}

.personuppgifterflex {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    width: 100%;
    font-size: 25px;  
}

.infoflex {
    display: flex;
    justify-content: start;
    margin-top: 5%;
    width: 80%;
    margin-left: 19%;
    height: 260px;
}

.infotextflex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    margin-left: 0%;
}

.input {
    margin-top: 10.7px;
    width: 50%;
}

.inputflex2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 2%;
    width: 75%;
}

.meddelande {
    height: 100px;
}

.kontotext {
    margin-top: 12px;
}

.postnummerinput {
    width: 15%;
}

.ortinput {
    width: 40%;
}

.telefoninput {
    width: 35%;
}

.skapakontoflex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    width: 100%;
    height: 25%;
    font-size: 20px;  
}

.skapakontoknapp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 40%;
    background-color: rgba(128, 128, 128, 0.237);
    border-radius: 10px;
}

.over:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.128);
}
