* {
margin: 0;
padding: 0;
}

body {
background-color: #ffffff;
height: 100%;
}

.bakgrund {
    background-image: url(/Bilder/bakgrund.jpg);
    background-size: 100% 100%;
}

nav {
display: flex;
align-items: center;
justify-content: center;
width: 97%;
margin-left: 1.5%;
height: 40px;
background-color: rgb(67, 67, 109);
}

.logflex {
display: flex;
justify-content: end;
width: 50%;
}

.titelflex {
width: 50%;
}

.loggain {
color: whitesmoke;
margin-right: 5%;
}

.skapakonto {
color: whitesmoke;
margin-right: 5%;
text-decoration: none;
}

.titel {
margin-left: 10%;
font-size: 20px;
color: white;
text-decoration: none;
}

.fa-book-atlas {
margin-right: 5%;
color: white;
}

table {
border-collapse: collapse;
margin-top: 5%;
margin-left: 10%;
width: 80%;
}

table, th, td {
border: 1px solid black;
padding: 5px;
color: white;
text-align: center;
}

td, th {
    color: black;
}

.söndag11 {
    background-color: green;
}

.söndag12 {
    background-color: grey;
}

.söndag13 {
    background-color: blue;
}

.måndag17 {
    background-color: blue;
}

tfoot {
    background-color: rgba(128, 128, 128, 0.381);
}