* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  margin-left: 1.5%;
  height: 40px;
  background-color: rgb(67, 67, 109);
}

.logflex {
  display: flex;
  justify-content: end;
  width: 50%;
}

.titelflex {
  width: 50%;
}

.loggain {
  color: whitesmoke;
  margin-right: 5%;
}

.skapakonto {
  color: whitesmoke;
  margin-right: 5%;
}

.titel {
  margin-left: 10%;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.fa-solid {
  font-size: 20px;
  color: rgb(240, 239, 239);
  margin-right: 5%;
}

.kontoflex {
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
  height: 500px;
  background-color: rgb(232, 231, 231);
  border-style: solid;
  border-color: rgb(168, 167, 167);
  border-radius: 4%;
}

.personuppgifterflex {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  width: 100%;
  font-size: 25px;
}

.infoflex {
  display: flex;
  justify-content: start;
  margin-top: 5%;
  width: 80%;
  margin-left: 19%;
  height: 260px;
}

.infotextflex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  margin-left: 0%;
}

.inputflex2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 2%;
  width: 75%;
}

.inputflex {
  display: flex;
  justify-content: start;
}

.input책r {
  width: 9%;
}

.inputm책n {
  width: 5%;
  margin-left: 1%;
}

.inputdag {
  width: 5%;
  margin-left: 1%;
}

.bindestreck {
  margin-left: 1%;
  margin-right: 1%;
}

.inputnummer {
  width: 12%;
}

.input {
  margin-top: 10.7px;
  width: 50%;
}

.kontotext {
  margin-top: 12px;
}

.postnummerinput {
  width: 15%;
}

.ortinput {
  width: 40%;
}

.telefoninput {
  width: 35%;
}

.skapakontoflex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  width: 100%;
  height: 25%;
  font-size: 20px;
}

.skapakontoknapp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 40%;
  background-color: rgba(128, 128, 128, 0.237);
  border-radius: 10px;
}

.buttonflex {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 2.5%;
  width: 50%;
  height: 20px;
}

.kvinna {
  margin-left: 2%;
}

.kvinnaknapp {
  margin-left: 5%;
}

.man {
  margin-left: 2%;
}

.over:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.128);
}

.logaanimation {
  position: absolute;
  margin-left: 10%;
  margin-top: 2%;
  width: 5%;
  animation: fall 4s linear infinite;
}

@keyframes fall {
  50% {
    transform: translateY(75vh) rotatey(180deg);
  }
  100% {
    transform: translateY(150vh) rotatey(360deg);
  }
}

@media screen and (max-width: 800px) {
  .kontoflex {
    width: 100%;
    margin-left: 0;
  }
  .titelflex {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .input {
    width: 100%;
  }
  .input책r {
    width: 20%;
  }
  .inputm책n {
    width: 13%;
  }
  .inputdag {
    width: 13%;
  }
  .inputnummer {
    width: 20%;
  }
  .infoflex {
    margin-left: 2%;
    width: 90%;
  }
  .skapakontoknapp {
    font-size: 10px;
  }
  .buttonflex {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .infotextflex {
    width: 50%;
  }
}
