* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  height: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  margin-left: 1.5%;
  height: 40px;
  background-color: rgb(67, 67, 109);
}

.fa-bars {
  display: none;
}

.titelflex {
  width: 50%;
}

.logflex {
  display: flex;
  justify-content: end;
  width: 50%;
}

.loggain {
  color: whitesmoke;
  margin-right: 5%;
}

.skapakonto {
  color: whitesmoke;
  margin-right: 5%;
  text-decoration: none;
}

.titel {
  margin-left: 10%;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.fa-book-atlas {
  margin-right: 5%;
  font-size: 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 230px;
  background-color: white;
}

.länk {
  text-decoration: none;
  color: black;
}

.navflex {
  display: flex;
  justify-content: space-between;
  width: 25%;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

.logo {
  height: 150px;
}

.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fa-solid {
  color: rgb(240, 239, 239);
}

.text1-flex {
  position: absolute;
  margin-left: 10%;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 25%;
}

.text1-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.452);
  width: 100%;
  height: 35%;
  margin-bottom: 1%;
  border-radius: 10px;
}

.text1 {
  font-size: 20px;
  color: white;
  width: 90%;
  margin-bottom: 5%;
}

.nyheterflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 50px;
  margin-top: 7%;
}

.nyheter {
  font-size: 27px;
  font-family: "Cuprum", sans-serif;
}

.nyheterhr {
  width: 90%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #666;
  border: 0 none;
}

.vit {
  height: 100px;
  width: 100%;
  background-color: white;
}

.over {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 13px;
}

.nyhettextflex {
  margin-left: 10%;
  width: 60%;
  margin-top: 50px;
}

.nyhetrubrik {
  font-size: 25px;
  font-family: "Cuprum", sans-serif;
}

.nyhettext {
  font-size: 15px;
  margin-top: 15px;
  font-family: "Teko", sans-serif;
  color: rgb(110, 110, 110);
}

.datum {
  color: rgb(135, 134, 134);
}

.over:hover {
  background-color: rgba(202, 199, 199, 0.418);
  cursor: pointer;
}

footer {
  width: 97%;
  margin-left: 1.5%;
  height: 150px;
  background-color: rgb(67, 67, 109);
}

.iconflexflex {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60%;
}

.iconflex {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  width: 70%;
  list-style: none;
}

.fa-brands {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.925);
}

.kontaktflex {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40%;
}

.kontakt {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 2%;
  color: white;
  list-style: none;
}

.dropdown {
  display: none;
  position: relative;
  margin-left: 3%;
  font-size: 25px;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 1000%;
  background-color: rgb(228, 226, 226);
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
.dropdown:hover .dropdown-content {
  display: none;
}
.dropdown-content a {
  display: none;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #ffffff;
  background-color: #00a4bd;
}

@media screen and (max-width: 1000px) {
  .dropdown-content a {
    display: block;
  }
  .dropdown {
    display: inline-block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .navflex {
    display: none;
  }
  .text1-box {
    height: 100%;
  }
  .kontakt {
    font-size: 12px;
  }
  .fa-bars {
    display: block;
  }
  nav {
    height: 70px;
  }
  .titel {
    font-size: 30px;
  }
  .skapakonto {
    font-size: 20px;
  }
  .loggain {
    font-size: 20px;
  }
  .fa-solid {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .skapakonto {
    display: none;
  }
  .loggain {
    display: none;
  }
  .fa-book-atlas {
    display: none;
  }
  .titelflex {
    width: 100%;
  }
  .logflex {
    display: none;
  }
  .text1 {
    font-size: 15px;
  }
  .kontakt {
    font-size: 12px;
    width: 100%;
  }
  .logo {
    height: 100px;
  }
  .nav {
    height: 150px;
  }
  .nyhettextflex {
    width: 90%;
    margin-left: 5%;
  }
  .iconflex {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .text1 {
    font-size: 10px;
  }
  .kontakt {
    font-size: 8px;
  }
}

@media screen and (max-width: 300px) {
  .text1 {
    font-size: 4px;
  }
}
