* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
  height: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  margin-left: 1.5%;
  height: 40px;
  background-color: rgb(67, 67, 109);
}

.logflex {
  display: flex;
  justify-content: end;
  width: 50%;
}

.titelflex {
  width: 50%;
}

.loggain {
  color: whitesmoke;
  margin-right: 5%;
}

.skapakonto {
  color: whitesmoke;
  margin-right: 5%;
}

.titel {
  margin-left: 10%;
  font-size: 20px;
  color: white;
}

.fa-book-atlas {
  margin-right: 5%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 230px;
  background-color: white;
}

.navflex {
display: flex;
justify-content: space-between;
width: 25%;
font-size: 15px;
font-family: 'Montserrat', sans-serif;
}

.logo {
  height: 150px;
}

.slides {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  margin-top: 20px;
  height: 510px;
}

.tävling {
  height: 100%;
}

.arrow-flex {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.fa-solid {
  font-size: 20px;
  color: rgb(240, 239, 239);
}

.text1-flex {
  position: absolute;
  margin-right: 50%;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 25%;
}

.text1-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.452);
  width: 100%;
  height: 40%;
  border-radius: 10px;
}

.text1 {
  font-size: 20px;
  color: white;
  width: 90%;
  margin-bottom: 5%;
}

.nyheterflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 50px;
  margin-top: 7%;
}

.nyheter {
  font-size: 27px;
  font-family: "Cuprum", sans-serif;
}

.nyheterhr {
  width: 90%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #666;
  border: 0 none;
}

.vit {
  height: 100px;
  width: 100%;
  background-color: white;
}

.over {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 13px;
}

.nyhettextflex {
  margin-left: 10%;
  margin-top: 50px;
}

.nyhetrubrik {
  font-size: 25px;
  font-family: "Cuprum", sans-serif;
}

.nyhettext {
  font-size: 15px;
  margin-top: 15px;
  font-family: "Teko", sans-serif;
  color: rgb(110, 110, 110);
}

.datum {
  color: rgb(135, 134, 134);
}

.over:hover {
  background-color: rgba(202, 199, 199, 0.418);
  cursor: pointer;
}

footer {
  width: 97%;
  margin-left: 1.5%;
  height: 150px;
  background-color: rgb(67, 67, 109);
}

.iconflexflex {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60%;

}

.iconflex {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  width: 70%;
}

.fa-brands {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.925);
}

.kontaktflex {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40%;
}

.kontakt {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 2%;
  color: white;
}

